<style type="text/css">
    pre {
        line-height: 30px;
        padding-left: 30px;
        font-size: 20px;
    }
    table td img {
        height: 50px;
    }
</style>
<div class="main-cont">
    <!--页面内容-->
    <p class="h5 page-tit-lev1">作业管理 &gt;&gt; 批改</p>
    <div class="review-template">
    </div>
    <form class="order-draw clearfix" method="post">
        <div class="form-inline draw-title">
            <div class="form-group ">
            </div>
        </div>
    </form>
    <input class="btn btn-success flush" type="button" value="重置">
    <span style="color: red">{$msg}</span>
    <br><br><br>
    <a href="" class="edit-btn blue btn-edit-reception"></a>
    <div class="clearfix">
        <pre style="float: left;width: 56%; height: auto; padding-right: 30px; border: 1px solid grey">
            {$zuoye.content|raw}
        </pre>
        <div class="right-border details-content" style="margin-top: -100px">
            <table class="table table-hover center-tit deduct-right" style="display: table; margin-left: 0px; width: 100%; margin-right: 0px;">
                <tbody class="user-order-list">

                </tbody>
            </table>
        </div>
    </div>
    <!--//页面内容-->
</div>
<script>
    $(function () {
        //阻止浏览器默认右键点击事件
        $("pre").bind("contextmenu", function(){
            return false;
        });

        $('.reg_succ').on('mouseover', function () {
            $(this).css({
                "color":"white",
                "background-color":"#98bf21",
                "font-size":"20px",
                "padding":"5px",
                'cursor': 'pointer'
            });
        });

        $(".reg_succ").mousedown(function(e) {
            var img = '/pigaiwang/public/static/images/';
            console.log(e.which);
            //右键为3
            if (3 == e.which) {
                img += 'false.png';
            } else if (1 == e.which) {
                //左键为1
                img += 'ok.png';
            }
            var desc = $(this).text();
            var trHtml = '<tr class="reg_tips"><td style="width: 10%"><img src="'+ img +'" alt=""></td><td style="font-size: 18px; text-align: left">'+ desc +'</td></tr>';
            $('tbody').append(trHtml);
        });

        $('.flush').on('click', function () {
            $('.reg_succ').removeAttr('style');
            $('tbody').html('');
        });
    });
</script>